<div class="container d-flex align-items-center my-5">
    <div class="row">
        <div class="col-sm-12">
            <h2>Contact</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure temporibus quae possimus quibusdam dignissimos, minima enim rerum distinctio laboriosam voluptatibus pariatur vero incidunt! A qui dicta nam placeat ut beatae!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure temporibus quae possimus quibusdam dignissimos, minima enim rerum distinctio laboriosam voluptatibus pariatur vero incidunt! A qui dicta nam placeat ut beatae!
        </div>
        <style>
            .custom-bg {
                background-color: #f8f9fabe !important; 
            }
        </style>
        <div class="col-sm-8 bg-secondary-emphasis custom-bg offset-sm-2 mt-2 card">
            <form action="" class="p-3">
                <fieldset class="row mb-3">
                    <label for="email" class="col-12 col-sm-3 col-form-label text-sm-end fw-medium">Your email</label>
                    <div class="col-12 col-sm-9">
                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
                    </div>
                </fieldset>
                <fieldset class="row mb-3">
                    <label for="message" class="col-12 col-sm-3 col-form-label text-sm-end fw-medium">Your message</label>
                    <div class="col-12 col-sm-9">
                        <textarea name="message" id="message" class="form-control" rows="4"
                            placeholder="Enter your message"></textarea>
                    </div>
                </fieldset>
                <div class="col-sm-12 text-end">
                    <button class="btn btn-primary align-self-end ">Submit</button>
                </div>
    
            </form>
        </div>
    </div>
</div>