
<div class="bg-white">
    <div class="container">
        <div class="d-flex align-items-center">
            <div>
                <h1 class="fw-bold fs-1">This First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque beatae aperiam tenetur, laudantium asperiores dolorem, quasi earum soluta obcaecati modi, quo velit commodi atque nostrum culpa odio ducimus eveniet voluptatum.</p>
            </div>
            <img class="rounded-circle" src="assets/img/1.jpg" width="250" height="250">
        </div>
    </div>    
</div>