<!-- your html code here -->
<div class="row mt-2">
    <div class="col-sm-12">
        <h2>Porfolio</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis blanditiis maiores suscipit eligendi. Facere dignissimos commodi provident, quam quae similique, aperiam molestiae atque excepturi illum, voluptate voluptates cumque magnam porro.</p>
    
    </div>
    <div class="col-sm-12 row ">
        <div class="col-sm-4">
            <img src="assets/img/big-project-image.png" alt="portfolioImg" srcset="" class="img-fluid">
            <h5 class="text-primary">Project Description</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
        </div>
        <div class="col-sm-4">
            <img src="assets/img/big-project-image.png" alt="portfolioImg" srcset="" class="img-fluid">
            <h5 class="text-primary">Project Description</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
        </div>
        <div class="col-sm-4">
            <img src="assets/img/big-project-image.png" alt="portfolioImg" srcset="" class="img-fluid">
            <h5 class="text-primary">Project Description</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
        </div>
    </div>
</div>